
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <img src="~/images/Books images.jpeg" width="550" height="250" style="border: 2px solid black;" />
    </div>
    <p>

    </p>
    <p>Dive into a world of endless imagination with our curated collection of books from captivating novels to enlightening non-fiction. 
        Whether you're an avid reader seeking your next adventure or a book enthusiast exploring new realms of knowledge, 
        we have something for every bibliophile. 
        Discover hidden treasures, embrace timeless classics, and embark on literary journeys that stir the soul. 
        Start your reading odyssey today!</p>
</div>
